<!DOCTYPE html>
<html>
    <head>
        <title>Defensive CTF: Judge</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        <div class="contentBox">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h1 class="text-center text-light"><b>Defensive CTF: Judge</b></h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="fillWidth">
                            <h3 class="text-center text-light">How the judge works:</h3>
                            <ul class="list">
                                <li class="text-light">You press the "START" button, and wait for some time while the judge is working.</li>
                                <li class="text-light">The judge will attack your machine, to check if you solved the vulnerabilities</li>
                                <li class="text-light">Furthermore, the judge will test if the normal functionality works as expected.</li>
                                <li class="text-light">If you solved the vulnerability, then you will be granted the flag.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <button class="btn btn-dark fillWidht text-center text-light" onclick="StartJudge()"><b>START</b></button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h3 class="text-center text-light" id="feedbackText"></h3>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename = 'judge.js') }}"></script>
    </body>
</html>